  <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>Site Haritası</h5><hr />
                <a href="/Home/About">Hakkımızda</a><br />
                <a href="/Home/MostLike">Beğenilenler</a><br />
                <a href="/Home/Index">En son </a>
            </div>
            <div class="col-lg-4 text-center">
                <h5>Evernote</h5><hr />
                <p>Tüm hakları saklıdır &copy; MyEvernote @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5><strong>E-Bültek Üyeliği</strong></h5>   <hr />
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta adresiniz">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <span class="glyphicon glyphicon-send"></span>Gönder
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
<!-- jQuery -->
