@using MyEverNoteMvc.ViewModels
@model InfoViewModel


@{
    ViewBag.Title = Model.Title;
}


<link href="~/Content/login-register.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
@using (Html.BeginForm())
{
    <section class="login-info">
        <div class="container">
            <div class="row main">
                <div class="form-header">
                    <h1 class="text-center ">@Model.Header </h1>
                </div>
                <div class="main-content">
                    <div class="text-info">
                        <h2> <span class="glyphicon glyphicon-info-sign"></span>@Model.Title</h2>
                        <hr />
                    </div>
                    <p class="text-justify">
                        @foreach (string msg in Model.Items)
                        {
                            @msg <br />
                        }
                    </p>


                </div>
            </div>
        </div>
    </section>
}
@{
    string js = string.Empty;
    if (Model.IsRedirecting)
    {
        js = " setTimeout(function () {window.location = ' " + Model.IsRedirectingUrl + "';}, " + Model.RedirectingTimeout + ");";
    }
}


<script>
    $(function () {
       
       @Html.Raw(js);
    });
</script>


